@model IEnumerable<Zero_Hunger.Models.Employee>

@{
    ViewBag.Title = "Assign";
}

<h2>Assign</h2>
<form action="~/Zero/Assign" method="Post">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                Choose
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    <input type="radio" name="EmployeeId" value="@item.Id" />
                </td>
            </tr>
        }


    </table>
    <h2> Selected Request</h2>

    <table class="table">
        <tr>
            <th>

            </th>
            <th>
                Food Name
            </th>
            <th>
                Quantity
            </th>
        </tr>

        <tr>
            <td>@ViewBag.Rname</td>
            <td>@ViewBag.Fname</td>
            <td>@ViewBag.Q</td>
            <td><input type="text" name="RequestId" value="@ViewBag.Id" class="invisible" /></td>
        </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="Assign" />
</form>
